version: '3.9'

services:
  db:
    image: postgres:15
    container_name: swift_db
    restart: always
    environment:
      POSTGRES_DB: swift_match_db
      POSTGRES_USER: swift_admin
      POSTGRES_PASSWORD: swift_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: swift_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@swift.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  web:
    build: .
    container_name: swift_backend
    command: /app/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:


